body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(144, 183, 147);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    }
    
    .card{
    
    background-color: rgb(231, 238, 231);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
    width: 300px;
    text-align: center;
    }

    .testo{
    margin: 10px 0 ; 
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   border: 1px solid #ccc;
   border-radius: 10px;
    width: 90%;
    }

.testo:hover{ 
   background-color: #b5ebb9;
   border: 2px solid #7ea481; 
    }

    input[type="button"]{
    margin: 10px 0 ; 
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   border: 1px solid #5db161;
   background-color: #5db161;
   border-radius: 10px;
    font-size: 20px;
    
    }